 <%= form_for @job, :html => {:class => 'form-horizontal form-label-left', :id => 'demo-form2'} do |f| %>

        <div class="form-group">
          <%= f.label :name, "Nombre", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <%= f.text_field :name, :class => "form-control col-md-7 col-xs-12" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :description, "Descripción", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <%= f.text_area :description, :class => "form-control col-md-7 col-xs-12" %>
          </div>
        </div>
        <div class="ln_solid"></div>

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Listas asignadas al grupo</h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table">
                      <thead>
                        <tr>
                          
                          <th>Lista</th>
                         
                        </tr>
                      </thead>
                      <tbody>
                        <%- @listas.each do |lista|  %>
                          <tr>
                          
                            <td><%= lista.name %></td> 
                        
                            </td>
                          </tr>
                    
                        <% end %>
                      </tbody>
                    </table>

                    <div class="digg_pagination">
                      <div class="page_info">
                        <%= page_entries_info @listas %>
                      </div>
                      <%= will_paginate @listas, :container => false %>
                    </div>

                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Agregar listas al grupo</h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                         <div class="form-group">
                            <%= f.label :agents, "Usuarios", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
                            <div class="col-md-6 col-sm-6 col-xs-12" style="overflow: scroll ">
                              
                             
                              <%= f.collection_check_boxes(:agent_ids, @agent, :id, :name, {}, {multiple: true}) do |ds| %>
                                <%= ds.label(class:"container") do %>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                  <%= ds.check_box %>
                                  <%= ds.object.name %>

                                  <span class="checkmark"></span>
                                <% end %>
                              </div>
                              <% end %>
                            </div>
                          </div>

                    <div class="ln_solid"></div>
                  </div>


                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <%= link_to 'Cancelar', jobs_path, :class => "btn btn-primary"%>
                      <%= f.submit "Guardar", :class => "btn btn-success" %>
                    </div>
                  </div>
                </div>


              </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Lideres del grupo</h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    
                    
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @leader.each do |leader| %>
                          <tr>
                            <td><%= leader.name %></td>
                            <td><%= leader.lastName %></td> 
                          </tr>
                           <% end %>
                        </tbody>
                      </table>
                         

                  

                   
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Agregar lider al grupo</h2>

                    <%= button_tag %>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                         <div class="form-group">
                            <%= f.label :users, "Usuarios", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
                            <div class="col-md-6 col-sm-6 col-xs-12" style="overflow: scroll; max-height: 220px;">
                              
                              <% @listas.each do |agent| %>
                            
                                 
                                    <%= f.collection_check_boxes(:user_ids, agent.users, :id, :name, {}, {multiple: true}) do |ds| %>
                                      <%= ds.label(class:"container") do %>
                                      <div class="col-md-12 col-sm-12 col-xs-12">
                                        <%= ds.check_box %>
                                        <%= ds.object.name %>

                                        <span class="checkmark"></span>
                                      <% end %>
                                    </div>
                                    <% end %>

                              <%end%>


                             
                              
                            </div>
                          </div>

                    <div class="ln_solid"></div>
                  </div>


                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <%= link_to 'Cancelar', jobs_path, :class => "btn btn-primary"%>
                      <%= f.submit "Guardar", :class => "btn btn-success" %>
                    </div>
                  </div>
                </div>


              </div>
        </div>

        
         

      <% end %>