<div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Crear Usuario</h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    
                            <%= form_for @user, :html => {:class => 'form-horizontal form-label-left', :id => 'demo-form2'} do |f| %>

                                  <div class="form-group">

                                    <%= f.label :email, "E-mail *", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      <%= f.email_field :email, autofocus: true, :class => "form-control col-md-7 col-xs-12" %>
                                    </div>
                                  </div>

                                  <div class="form-group">

                                    <%= f.label :alias, "Nombre a Mostrar", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                      <%= f.text_field :alias, :class => "form-control col-md-7 col-xs-12" %>

                                    </div>
                                  </div>
                                  <div class="ln_solid"></div>

                                  <div class="form-group">

                                    <%= f.label :name, "Nombre *", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                      <%= f.text_field :name, :class => "form-control col-md-7 col-xs-12" %>

                                    </div>
                                  </div>

                                  <div class="form-group">

                                    <%= f.label :lastName, "Apellido *", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                      <%= f.text_field :lastName, :class => "form-control col-md-7 col-xs-12" %>

                                    </div>
                                  </div>

                                  <div class="form-group">

                                    <%= f.label :phone, "Telefono", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                      <%= f.text_field :phone, :class => "form-control col-md-7 col-xs-12" %>

                                    </div>
                                  </div>

                                  <div class="form-group">

                                    <%= f.label :celPhone, "Móvil / Celular", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                      <%= f.text_field :celPhone, :class => "form-control col-md-7 col-xs-12" %>

                                    </div>
                                  </div>

                                  <div class="form-group">

                                    <%= f.label :documentType, "Tipo de Documento", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
                                    <div class="col-md-6 col-sm-6 col-xs-12"> 

                                      <% lista = {'Cédula' => 'cc', 'Cedula de Extranjeria' => 'ce', 'Pasaporte' => 'pa', 'Otro' => 'o'}%>
                                            <%= f.select :documentType, lista, {:class => "form-control col-md-7 col-xs-12"}%>

                                    </div>
                                  </div>

                                  <div class="form-group">

                                    <%= f.label :identificationNumber, "Numero de Identificación", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                      <%= f.text_field :identificationNumber, :class => "form-control col-md-7 col-xs-12" %>


                                    </div>
                                  </div>

                                  <div class="form-group">

                                    <%= f.label :birthdate, "Fecha de Nacimiento", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                      <%= f.date_select :birthdate, :class => "form-control col-md-7 col-xs-12" %>


                                    </div>
                                  </div>

                                  <div class="form-group">

                                    <%= f.label :gender, "Género", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
                                    <div class="col-md-6 col-sm-6 col-xs-12"> 

                                      <% listaG = {'Masculino' => 'M', 'Femenino' => 'f'}%>
                                            <%= f.select :gender, listaG, {:class => "form-control col-md-7 col-xs-12"}%>

                                    </div>
                                  </div>

                                  <div class="form-group">

                                    <%= f.label :statusCivil, "Estado Civil", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
                                    <div class="col-md-6 col-sm-6 col-xs-12"> 

                                      <% listaE = {'Soltero' => 's', 'Casado' => 'c', 'Unión Libre' => 'un', 'Otro' => 'o'}%>
                                            <%= f.select :statusCivil, listaE, {:class => "form-control col-md-7 col-xs-12"}%>

                                    </div>
                                  </div>

                                  <div class="form-group">

                                    <%= f.label :numberChildren, "Número de Hijos", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                      <%= f.text_field :numberChildren, :class => "form-control col-md-7 col-xs-12" %>


                                    </div>
                                  </div>

                                  <div class="form-group">

                                    <%= f.label :personalMail, "E-mail Personal", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                      <%= f.email_field :personalMail, autofocus: true, :class => "form-control col-md-7 col-xs-12" %>

                                    </div>
                                  </div>

                                  <div class="form-group">

                                    <%= f.label :address, "Dirección", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                      <%= f.text_field :address, :class => "form-control col-md-7 col-xs-12" %>


                                    </div>
                                  </div>

                                  <div class="ln_solid"></div>

                                  <div class="form-group">

                                    <%= f.label :status, "Estado *", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
                                    <div class="col-md-6 col-sm-6 col-xs-12"> 

                                      <% listaEs = {'Activo' => 'activo', 'Inactivo' => 'inactivo'}%>
                                            <%= f.select :status, listaEs, {:class => "form-control col-md-7 col-xs-12"}%>

                                    </div>
                                  </div>

                                   <div class="form-group">
                                      <%= f.label :roles, "Roles", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
                                      <div class="col-md-6 col-sm-6 col-xs-12">
                                        
                                        <%- @roles.each do |roles| %>
                                          <%= check_box_tag "roles[]", roles.id  %> <%= roles.name%>
                                          
                                        <%end%>
                                        
                                      </div>
                                    </div>



                                  <div class="form-group">

                                    <%= f.label :password, "Contraseña *", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
                                    <div class="col-md-6 col-sm-6 col-xs-12"> 

                                            <% if @minimum_password_length %>
                                          <em>(<%= @minimum_password_length %> characters minimum)</em>
                                        <% end %><br />
                                        <%= f.password_field :password, autocomplete: "off", :class => "form-control col-md-7 col-xs-12" %>

                                    </div>
                                  </div>
                                  

                                  <div class="ln_solid"></div>

                                  <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                      <%= f.submit "Guardar", :class => "btn btn-success" %>
                                      <%= link_to 'Cancelar', users_path, :class => "btn btn-primary"%>
                                            
                                    </div>
                                  </div>


                            <%end%>
                    
                  </div>
                </div>
              </div>
            </div>