<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Crear Lista de Agentes</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>

       <%= form_for @agent, :html => {:class => 'form-horizontal form-label-left', :id => 'demo-form2'} do |f| %>

        <div class="form-group">
          <%= f.label :name, "Nombre", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <%= f.text_field :name, :class => "form-control col-md-7 col-xs-12" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :description, "Descripción", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <%= f.text_area :description, :class => "form-control col-md-7 col-xs-12" %>
          </div>
        </div>
        <div class="ln_solid"></div>

        

                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <%= link_to 'Cancelar', agents_path, :class => "btn btn-primary"%>
                      <%= f.submit "Guardar", :class => "btn btn-success" %>
                    </div>
                  </div>
                </div>

        
         

      <% end %>

    </div>

    
  </div>
</div>