<%- item = 1 %>
<tr>
	<td><%= item %></td>
	<td><%= resolution.name %></td> 
	<td><%= resolution.description %></td>
	<td><%= resolution.active %></td>
	<td><%= link_to "Editar", edit_resolution_path(resolution), :class => "btn btn-info btn-xs" %> 
	</td>
</tr>
<%- item = item + 1 %>