
<div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Administrador de Formularios</h3>
              </div>

              
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Formulario</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <%= link_to 'Nuevo', new_form_path, :class => "btn btn-round btn-success"%>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Nombre</th>
                          <th>Descripción</th>
                          <th>Grupo de Trabajo</th>
                          <th>Opciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%- item = 1 %>
                        <%- @forms.each do |form|  %>
                          <tr>
                            <td><%= item %></td>
                            <td><%= form.name %></td> 
                            <td><%= form.description %></td>
                            <td>Grupo de trabajo</td>
                            <td><%= link_to "Editar", edit_form_path(form), :class => "btn btn-info btn-xs" %> 
                            <%= link_to "Eliminar", form_path(form), :method => :DELETE, data: {confirm: 'Esta seguro?'}, :class => "btn btn-danger btn-xs" %>
                            </td>
                          </tr>
                          <%- item = item + 1 %>
                        <% end %>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>

            </div>
          </div>