

 <%= form_for @field, :html => {:class => 'form-horizontal form-label-left', :id => 'demo-form2'} do |f| %>

    <div class="form-group">
      <%= f.label :name, "Nombre", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.text_field :name, :class => "form-control col-md-7 col-xs-12" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :slug, "Slug", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.text_field :slug, :class => "form-control col-md-7 col-xs-12" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, "Instrucciones del campo", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.text_area :description, :class => "form-control col-md-7 col-xs-12" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :textDefault, "Texto por Defecto", :class => "control-label col-md-3 col-sm-3 col-xs-12" %>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.text_area :textDefault, :class => "form-control col-md-7 col-xs-12" %>
      </div>
    </div>

      <div class="ln_solid"></div>

      <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
          <%= link_to 'Cancelar', forms_path, :class => "btn btn-primary"%>
          <%= f.submit "Guardar", :class => "btn btn-success" %>
        </div>
      </div>

  <% end %>